/* Navigation styles */
.logo {
    background: white;
    height: 230px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../images/jakes-logo.png");
}
/* Navigation styles */
.nav {
    display: flex;
    background-color: black;
    padding: 20px;
    justify-content: space-evenly;
}
.left, .center, .right {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.left, .right {
    width: 25%;
}
.center a {
    width: 50%;
    color: white;
    padding: 10px;
    font-size: 18px;
    text-decoration: none;
    font-family: Arial;
}
button {
    color: black;
    font-size: 16px;
    padding: 15px;
    width: 50%;
}
.left button {
    background-color: skyblue;
}
.right button {
    background-color: yellow;
}

/* Column styles */
.column {
    display: flex;
    height: 1200px;
    width: 800px;
    flex-direction: column;
    margin: 0 auto;
}
.meal1, .meal2, .meal3 {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: flex-end;
    margin-bottom: 20px;
    background-repeat: no-repeat;
    background-position: center;
}
.meal1 {
    background-image: url("../images/steak.png");
}
.meal2 {
    background-image: url("../images/soup.png");
}
.meal3 {
    background-image: url("../images/cheesecake.png");
}
.text {
    background: rgb(0,0,0,0,7);
    width: 100%;
    padding: 20px 40px;
    color: white;
}
.text p {
    color: rgb (255, 255, 255, 0.7);
    font-family: Arial;
}
/* Footer Styles */
.footer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: black;
    height: 50px;

}
a {
    text-decoration: none;
}
.fb {
    color: blue;
}
.tw {
    color: yellow;
}
.ig {
    color: red;
}
